table, th, td {
    border:1px solid black;
    padding:10px;
   
  }
.Title{
    justify-content: center;
    align-items: center;
    /* padding:1em;
    margin-bottom: 1em;  */
    /* background-color:whitesmoke; */
    color:black;
    text-align: center;
  }